body{
margin: 1;
padding: 1;
font-family: 'Oswald', sans-serif;
text-align: center;

} 

input [type="text"], input[type="password"]{
    outline: none;
    padding: 22px;
    display: black;
    width: 320px;
    border-radius: 4px;
    border: 2px solid #aaa;
    margin: 22px auto;
}

input[type="submit"]{
    padding: 14px;
    color: #ddd;
    background: #0060cb;
    width:324px;
    margin: 24 auto;
    margin-top: 0;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #00f2eb;
}